* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    transition: all .1s ease-in;
}

html {
    height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #3399CC;
	border: 15px solid #2B81AC;
	margin: auto;
	padding: 20px;
	min-height: 100%;
}

h1 {
	font-size: 30px;
	padding: 20px;
	text-align: center;
	min-width: 430px;
}
.earth,
.hyperion,
.korhal {
	font-size: 0;
	margin: auto;
	border: 3px solid #ffffff;
	max-width: 1024px;
	min-width: 430px;
}

.earth li,
.hyperion li,
.korhal li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 3px solid #ffffff;
}

.hyperion,
.korhal {
	margin-top: 20px;
}


li:first-child {
	width: 100%;
	font-size: 35px;
	font-weight: 600;
	padding: 20px;
}

.planet-name-two:after {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 60px;
	background-image: url('../img/Team-hyperion.png');
	background-size: 60px;
}

.planet-name-three:after {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 60px;
	background-image: url('../img/Flag_of_Sons_of_Korhal.png');
	background-size: 60px;
}

.city {
	width: 32%;
	font-size: 20px;
	font-weight: 800;
	min-height: 150px;
	padding-top: 31px;
}

.earth>.city:nth-child(2) {
	background-color: #339966;
	width: 32%;
}

.earth>.city:nth-child(3) {
	background-color: #666699;
	width: 32%;
}

.earth>.city:nth-child(4) {
	background-color: #33CCCC;
	width: 36%;
}

.hyperion>.city:nth-child(2) {
	background-color: #0f6bff;
	width: 25%;
}

.hyperion>.city:nth-child(3) {
	background-color: #36B700;
	width: 25%;
}

.hyperion>.city:nth-child(4) {
	background-color: #FFA02E;
	width: 25%;
}

.hyperion>.city:nth-child(5) {
	padding-top: 40px;
	background-color: #D13737;
	width: 25%;
	background-image: url(../img/The-Shrike.png);
	background-size: 220px;
	background-position: center;
}

.korhal>.city:nth-child(2) {
	background-color: #ed6724;
	width: 25%;
}

.korhal>.city:nth-child(3) {
	background-color: #36B700;
	width: 25%;
}

.korhal>.city:nth-child(4) {
	text-align: left;
	padding-left: 30px;
	background-color: #8f1fa8;
	width: 50%;
	background-image: url(../img/zergi.gif);
	background-size: 220px;
	background-position: right;
	background-repeat: no-repeat;
}


span {
	line-height: 2.3;
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
}

.wi {
	padding-left: 7px;
	color: rgba(255,255,255,0.8);
	font-size: 30px;
	font-weight: 800;
}

.earth:hover {
	background-color: rgba(240,216,0,0.7);
}

.hyperion:hover {
	background-color: rgba(255,165,30,0.7);
}

.korhal:hover {
	background-color: rgba(209,55,55,0.7);
}

.earth:hover>.city,
.hyperion:hover>.city,
.korhal:hover>.city {
	opacity: 0.6;
}

.earth>.city:hover,
.hyperion>.city:hover,
.korhal>.city:hover  {
	opacity: 1;
}

.shryke {
	display: none;
	background-color: rgba(255,255,255,0.7);
	padding: 10px;
}

.hyperion>.city:hover .shryke  {
	display: block;
}

.last-wish {
	padding-top: 20px;
	font-size: 20px;
}